# Module 2 Summative Lab

## Introduction

For today's section, we're going to work on a single big lab to apply everything we've learned in Module 2!

## About This Lab

A quick note before getting started--this lab isn't like other labs you seen so far. This lab is meant to take ~8 hours to complete, so it's much longer and more challenging that the average labs you've seen so far. If you feel like this lab is challenging or that you might be struggling a bit, don't fret--that's by design! With everything we've learned about Web Scraping, APIs, and Databases, the best way to test our knowledge of it is to build something substantial! 

## The Project

In this lab, we're going to make use of everything we've learned about APIs, databases, and Object-Oriented Programming to **_Extract, Transform, and Load_** (or **_ETL_**, for short) some data from a SQL database into a MongoDB Database. 

You'll find a database containing information about soccer teams and the matches they've played in the file `database.sqlite`. For this project, our goal is to get the data we think is important from this SQL database, do some calculations and data transformation, and then store everything in a MongoDB database. 

Let's get into the specifics of this project.

### The Goal

Start by examining the data dictionary for the SQL database we'll be working with, which comes from this [kaggle page](https://www.kaggle.com/laudanum/footballdelphi).  Familiarize yourself with the tables it contains, and what each column means. We'll be using this database to get data on each soccer team, calculate some summary statistics, and then store each in a MongoDB database. 

Upon completion of this lab, each unique team in this dataset should have a record in the MongoDB instance containing the following information:

* The name of the team
* The total number of goals scored by the team during the 2011 season
* The total number of wins the team earned during the 2011 season
* A histogram visualization of the team's wins and losses for the 2011 season (store the visualization directly)
* The team's win percentage on days where it was raining during games in the 2011 season. 

#### Getting the Weather Data

Note that for this last calculation, you'll need to figure out if it was raining or not during the game. The database itself does not contain this information, but it does contain the date on which the game was played. For this, you'll need to use the [DarkSky API](https://darksky.net/dev) to get the historical weather data for that day. Note that each game is played in a different location, and this information is not contained in our SQL database. However, the teams in this database are largely german, so go ahead and just use the weather in Berlin, Germany as a proxy for this information. If it was raining in Berlin on the day the game was played, count that as rain game--**_you do not need to try and figure out the actual weather at each game's location, because we don't have that information!_**

#### NOTE: The DarkSky API is limited to 1000 free API calls a day, so be sure to test your model on very small samples. Otherwise, you'll hit the rate limit!

## Project Architecture

Unlike previous labs, this lab is more open-ended, and will require you to make design decisions and plan out your strategy for building a system with this many working parts. However, **_using Object-Oriented Programming is a requirement for this project--you must create at least 2 separate, well structured classes in your solution!_** Although it may seem easier to "just start coding", this is a classic beginner's mistake. Instead, think about separating out the different functionalities you'll need to reach your goal, and then build classes to handle each. For instance, at minimum, you'll need to:

* Query the SQL database
* Calculate summary statistics
* Get the weather data from the DarkSky API
* Load the data into MongoDB

We **_strongly recommend_** you consider creating separate classes for handling at least some of these of these tasks.  Be sure to plan the inputs, outputs, and methods for each class before you begin coding! 

**_NOTE:_** We have provided some empty classes below. You are welcome to delete them and use a different architecture for this project if you so choose.  You do not have to use each of them, they are just there to give you an idea of what you could sorts of classes you may want to consider using.

### Rapid Prototyping and Refactoring

It's totally okay to try to get a task working without using OOP. For instance, when experimenting with the DarkSky API for getting historical weather data, it makes sense to just write the code in the cells and rapidly iterate until you get it all working. However, once you get it working, you're not done--you should then **_Refactor_** your code into functions or classes to make your code more modular, reusable, understandable, and maintainable! 

In short--do what you need to do to get each separate piece of functionality working, and then refactor it into a class after you've figured it out!

### Some Final Advice

You haven't built anything this big or complex thus far, so you may not yet fully realize how much trial and error goes into it. If your code keeps breaking, resist the urge to get frustrated, and just keep working. Software development is an iterative process!  No one writes perfect code that works the first time for something this involved. You're going to run into _a lot_ of small errors in this project, right up until the point where it just works, and then you're done! However, you can reduce these errors by planning out your code, and thinking about how all of the pieces fit together before you begin coding. Once you have some basic understanding of how it all will work, then you'll know what you need to build, and then all that is left is to build it!

In short:

* Plan ahead--you'll thank yourself later!
* Errors and broken code aren't bad, they're normal. 
* Keep working, and stay confident--you can do this!

Good luck--we look forward to seeing your completed project!

# Summary

## Database information

![tables](tables.png)

### Table: Matches

Match_ID (int): unique ID per match
Div (str): identifies the division the match was played in (D1 = Bundesliga, D2 = Bundesliga 2, E0 = English Premier League)

Season (int): Season the match took place in (usually covering the period of August till May of the following year)

Date (str): Date of the match

HomeTeam (str): Name of the home team

AwayTeam (str): Name of the away team

FTHG (int) (Full Time Home Goals): Number of goals scored by the home team

FTAG (int) (Full Time Away Goals): Number of goals scored by the away team

FTR (str) (Full Time Result): 3-way result of the match (H = Home Win, D = Draw, A = Away Win)

### Table: Teams

Season (str): Football season for which the data is valid

TeamName (str): Name of the team the data concerns

KaderHome (str): Number of Players in the squad

AvgAgeHome (str): Average age of players

ForeignPlayersHome (str): Number of foreign players (non-German, non-English respectively) playing for the team

OverallMarketValueHome (str): Overall market value of the team pre-season in EUR (based on data from transfermarkt.de)

AvgMarketValueHome (str): Average market value (per player) of the team pre-season in EUR (based on data from transfermarkt.de)

StadiumCapacity (str): Maximum stadium capacity of the team's home stadium

### Table: Unique Teams

TeamName (str): Name of a team

Unique_Team_ID (int): Unique identifier for each team

### Table: Teams_in_Matches

Match_ID (int): Unique match ID

Unique_Team_ID (int): Unique team ID (This table is used to easily retrieve each match a given team has played in)

## Links
https://www.kaggle.com/laudanum/footballdelphi

https://darksky.net/dev

## Notes

Upon completion of this lab, each unique team in this dataset should have a record in the MongoDB instance containing the following information:

* The name of the team
* The total number of goals scored by the team during the 2011 season
* The total number of wins the team earned during the 2011 season
* A histogram visualization of the team's wins and losses for the 2011 season (store the visualization directly)
* The team's win percentage on days where it was raining during games in the 2011 season. 

Use the weather in Berlin, Germany.
The DarkSky API is limited to 1000 free API calls a day.

You must create at least 2 separate, well structured classes in your solution.

* Query the SQL database
* Calculate summary statistics
* Get the weather data from the DarkSky API
* Load the data into MongoDB

## Example classes

In [1]:
# You don't have to use these classes, but we recommend them as a good place to start!
class WeatherGetter():
    pass

In [2]:
class MongoHandler():
    pass

## Useful functions

In [3]:
def connect_to_sql_database(database_file_name):
    import sqlite3
    connection = sqlite3.connect(database_file_name)
    cursor = connection.cursor()
    return connection, cursor

In [4]:
def sql_query_to_df(cursor, sql_query):
    import pandas as pd
    c.execute(sql_query)
    df = pd.DataFrame(c.fetchall())
    df.columns = [x[0] for x in c.description]
    return df

In [38]:
def sql_query_to_list_of_dicts(cursor, sql_query, list_of_cols=None):
    import pandas as pd
    c.execute(sql_query)
    df = pd.DataFrame(c.fetchall())
    df.columns = [x[0] for x in c.description]
    list_of_dicts = convert_df_to_list_of_dicts(df, list_of_cols=list_of_cols)
    return list_of_dicts

In [5]:
def get_all_tables_from_sql_database(cursor):
    df = sql_query_to_df(c, """SELECT 
                                    name
                                FROM 
                                    sqlite_master 
                                WHERE 
                                    type ='table' AND 
                                    name NOT LIKE 'sqlite_%';""")
    return df

In [6]:
def get_darksky_api_key(apikeyfilename="DARKSKYAPIKEY"):
    with open(apikeyfilename, 'r') as f:
        api_key = f.readlines()[0].strip()
    return api_key

In [7]:
def get_time_from_date_string(date_string):
    import datetime, time
    date_time_obj = datetime.datetime.strptime(date_string, '%Y-%m-%d')
    time_to_return = int(time.mktime(date_time_obj.timetuple()))
    return time_to_return

In [8]:
def get_weather(lat, lon, date_string, darksky_api_key=get_darksky_api_key()):
    import requests
    time_to_request = get_time_from_date_string(date_string)
    url = f"https://api.darksky.net/forecast/{darksky_api_key}/{lat},{lon},{time_to_request}"
    response = requests.get(url)
    return response

In [9]:
def get_weather_in_berlin(date_string):
    return get_weather(52.520645, 13.409779, date_string)

In [10]:
def did_it_rain_in_berlin(date_string):
    response = get_weather_in_berlin(date_string)
    rained = "precipType" in response.json()['daily']['data'][0].keys() and \
    response.json()['daily']['data'][0]["precipType"] == "rain"
    return rained

# Another tables representation

<img src="tables2.png" alt="drawing" width="50%"/>

Made using the free version of [dbvis](http://www.dbvis.com)

# Initial exploration

In [11]:
conn, c = connect_to_sql_database('database.sqlite')

### List of all tables in database

In [12]:
df = get_all_tables_from_sql_database(c)
df

               name
0           Matches
1  Teams_in_Matches
2             Teams
3      Unique_Teams

Note that the sqlite_sequence table is explicitly excluded from the list based on the NOT LIKE clause.

### Matches

In [13]:
df = sql_query_to_df(c, """SELECT * FROM Matches""")
df.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A

### Teams_in_Matches

In [14]:
df = sql_query_to_df(c, """SELECT * FROM Teams_in_matches""")
df.head()

   Match_ID  Unique_Team_ID
0         1              26
1         1              46
2         2              26
3         2              42
4         3              26

### Teams

In [15]:
df = sql_query_to_df(c, """SELECT * FROM Teams""")
df.head()

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2017,Bayern Munich,27,26,15,597950000,22150000,75000
1,2017,Dortmund,33,25,18,416730000,12630000,81359
2,2017,Leverkusen,31,24,15,222600000,7180000,30210
3,2017,RB Leipzig,30,23,15,180130000,6000000,42959
4,2017,Schalke 04,29,24,17,179550000,6190000,62271

### Unique_Teams

In [16]:
df = sql_query_to_df(c, """SELECT * FROM Unique_Teams""")
df.head()

        TeamName  Unique_Team_ID
0  Bayern Munich               1
1       Dortmund               2
2     Leverkusen               3
3     RB Leipzig               4
4     Schalke 04               5

## Having a look at DarkSky API

In [17]:
darksky_api_key = get_darksky_api_key()

[Darksky docs](https://darksky.net/dev/docs)

https://api.darksky.net/forecast/[key]/[latitude],[longitude],[time]

A Time Machine Request returns the observed (in the past) or forecasted (in the future) hour-by-hour weather and daily weather conditions for a particular date. A Time Machine request is identical in structure to a Forecast Request, except:

The currently data point will refer to the time provided, rather than the current time.
The minutely data block will be omitted, unless you are requesting a time within an hour of the present.
The hourly data block will contain data points starting at midnight (local time) of the day requested, and continuing until midnight (local time) of the following day.
The daily data block will contain a single data point referring to the requested date.
The alerts data block will be omitted.

Example time "time": 1509993277,

Berlin lat/long
lat: 52.520645
long: 13.409779
from https://www.latlong.net/place/fernsehturm-berlin-240.html

### precipType documention:

precipType optional
The type of precipitation occurring at the given time. If defined, this property will have one of the following values: "rain", "snow", or "sleet" (which refers to each of freezing rain, ice pellets, and “wintery mix”). (If precipIntensity is zero, then this property will not be defined. Additionally, due to the lack of data in our sources, historical precipType information is usually estimated, rather than observed.)

In [18]:
response = get_weather_in_berlin('2019-05-14')

In [19]:
did_it_rain_in_berlin('2019-01-07')

True

In [20]:
did_it_rain_in_berlin('2016-12-07')

False

In [21]:
did_it_rain_in_berlin('2011-08-15')

True

## Creating dictionary that will become the Mongo entry
* The name of the team
* The total number of goals scored by the team during the 2011 season
* The total number of wins the team earned during the 2011 season
* A histogram visualization of the team's wins and losses for the 2011 season (store the visualization directly)
* The team's win percentage on days where it was raining during games in the 2011 season.

In [22]:
mongo_entry = {
    'name': '', # str
    'goals_scored': 0, # int
    'total_wins': 0, # int
    'histogram': '', # image (?)
    'raining_win_percentage': 0.0 # float
}

### Question: What does it mean to make a histogram of wins and losses? Just a bar graph? And what does it mean to 'store the visualization directly'?

### Answer: For now, store the numbers. As a "stretch goal", try storing the file directly or storing a link that can be served by a content delivery network.

## MongoDB related functions

In [23]:
def get_mongo_client():
    import pymongo
    myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
    return myclient

In [24]:
def get_mongo_db(database_name="soccer_database"):
    import pymongo
    myclient = get_mongo_client()
    mydb = myclient[database_name]
    return mydb

In [25]:
def get_mongo_collection(database_name="soccer_database", collection_name="soccer_collection"):
    import pymongo
    mydb = get_mongo_db(database_name=database_name)
    mycollection = mydb[collection_name]
    return mycollection

In [26]:
myclient = get_mongo_client()

In [27]:
mydb = get_mongo_db()

In [28]:
mycollection = get_mongo_collection()

## SQL queries

In [29]:
conn, c = connect_to_sql_database('database.sqlite')

### Working on getting just the team names into the database

<img src="tables2.png" alt="drawing" width="50%"/>

In [31]:
df = sql_query_to_df(c, """SELECT TeamName FROM Unique_Teams""")
df.head()

        TeamName
0  Bayern Munich
1       Dortmund
2     Leverkusen
3     RB Leipzig
4     Schalke 04

In [32]:
mongo_entry = {
    'name': '', # str, The name of the team
    'goals_scored': 0, # int, The total number of goals scored by the team during the 2011 season
    'total_wins': 0, # int, The total number of wins the team earned during the 2011 season
    'total_losses': '', # int, The total number of wins the team earned during the 2011 season
    'raining_win_percentage': 0.0 # float, The team's win percentage on days where it was raining during games in the 2011 season.
}

### Code to convert a DataFrame (or row in a DataFrame) into a Python dictionary, on our way to inserting it into a MongoDB

In [33]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_dict.html
df.iloc[0,:].to_dict()

{'TeamName': 'Bayern Munich'}

In [37]:
def convert_df_to_list_of_dicts(df, list_of_cols=None):
    list_of_dicts = []
    if list_of_cols == None:
        for i in range(len(df)):
            list_of_dicts.append(df.iloc[i,:].to_dict())
    else:
        for i in range(len(df)):
            list_of_dicts.append(df.iloc[i,list_of_cols].to_dict())
    return list_of_dicts

In [39]:
name_dicts = sql_query_to_list_of_dicts(c, """SELECT TeamName FROM Unique_Teams""")

In [40]:
name_dicts

[{'TeamName': 'Bayern Munich'},
 {'TeamName': 'Dortmund'},
 {'TeamName': 'Leverkusen'},
 {'TeamName': 'RB Leipzig'},
 {'TeamName': 'Schalke 04'},
 {'TeamName': "M'gladbach"},
 {'TeamName': 'Wolfsburg'},
 {'TeamName': 'FC Koln'},
 {'TeamName': 'Hoffenheim'},
 {'TeamName': 'Hertha'},
 {'TeamName': 'Mainz'},
 {'TeamName': 'Hamburg'},
 {'TeamName': 'Werder Bremen'},
 {'TeamName': 'Ein Frankfurt'},
 {'TeamName': 'Augsburg'},
 {'TeamName': 'Freiburg'},
 {'TeamName': 'Stuttgart'},
 {'TeamName': 'Hannover'},
 {'TeamName': 'Ingolstadt'},
 {'TeamName': 'Darmstadt'},
 {'TeamName': 'Paderborn'},
 {'TeamName': 'Nurnberg'},
 {'TeamName': 'Braunschweig'},
 {'TeamName': 'Greuther Furth'},
 {'TeamName': 'Fortuna Dusseldorf'},
 {'TeamName': 'Kaiserslautern'},
 {'TeamName': 'St Pauli'},
 {'TeamName': 'Bochum'},
 {'TeamName': 'Karlsruhe'},
 {'TeamName': 'Bielefeld'},
 {'TeamName': 'Cottbus'},
 {'TeamName': 'Duisburg'},
 {'TeamName': 'Hansa Rostock'},
 {'TeamName': 'Aachen'},
 {'TeamName': 'Union Berlin'},
 {'TeamName': 'Heidenheim'},
 {'TeamName': 'Dresden'},
 {'TeamName': 'Sandhausen'},
 {'TeamName': 'Erzgebirge Aue'},
 {'TeamName': 'Kiel'},
 {'TeamName': 'Regensburg'},
 {'TeamName': 'Munich 1860'},
 {'TeamName': 'Wurzburger Kickers'},
 {'TeamName': 'Frankfurt FSV'},
 {'TeamName': 'Aalen'},
 {'TeamName': 'Oberhausen'},
 {'TeamName': 'Osnabruck'},
 {'TeamName': 'Koblenz'},
 {'TeamName': 'Ahlen'},
 {'TeamName': 'Wehen'},
 {'TeamName': 'CZ Jena'},
 {'TeamName': 'Offenbach'},
 {'TeamName': 'Essen'},
 {'TeamName': 'Burghausen'},
 {'TeamName': 'Unterhaching'},
 {'TeamName': 'Saarbrucken'},
 {'TeamName': 'Siegen'},
 {'TeamName': 'Babelsberg'},
 {'TeamName': 'Chemnitz'},
 {'TeamName': 'Ein Trier'},
 {'TeamName': 'Erfurt'},
 {'TeamName': 'F Koln'},
 {'TeamName': 'Gutersloh'},
 {'TeamName': 'Homburg'},
 {'TeamName': 'Leipzig'},
 {'TeamName': 'Lubeck'},
 {'TeamName': 'Mannheim'},
 {'TeamName': 'Meppen'},
 {'TeamName': 'Oldenburg'},
 {'TeamName': 'Reutlingen'},
 {'TeamName': 'Schweinfurt'},
 {'TeamName': 'Stuttgarter K'},
 {'TeamName': 'TB Berlin'},
 {'TeamName': 'Uerdingen'},
 {'TeamName': 'Ulm'},
 {'TeamName': 'Wattenscheid'},
 {'TeamName': 'Wuppertaler'},
 {'TeamName': 'Zwickau'},
 {'TeamName': 'RW Essen'},
 {'TeamName': "M'Gladbach"},
 {'TeamName': 'Arsenal'},
 {'TeamName': 'Aston Villa'},
 {'TeamName': 'Chelsea'},
 {'TeamName': 'Liverpool'},
 {'TeamName': 'Man City'},
 {'TeamName': 'Newcastle'},
 {'TeamName': 'Oldham'},
 {'TeamName': 'Sheffield United'},
 {'TeamName': 'Southampton'},
 {'TeamName': 'West Ham'},
 {'TeamName': 'Norwich'},
 {'TeamName': 'Tottenham'},
 {'TeamName': 'Everton'},
 {'TeamName': 'Ipswich'},
 {'TeamName': 'Leeds'},
 {'TeamName': 'Wimbledon'},
 {'TeamName': 'Blackburn'},
 {'TeamName': 'Coventry'},
 {'TeamName': 'Man United'},
 {'TeamName': 'QPR'},
 {'TeamName': 'Sheffield Weds'},
 {'TeamName': 'Swindon'},
 {'TeamName': 'Crystal Palace'},
 {'TeamName': 'Leicester'},
 {'TeamName': "Nott'm Forest"},
 {'TeamName': 'Bolton'},
 {'TeamName': 'Middlesbrough'},
 {'TeamName': 'Derby'},
 {'TeamName': 'Sunderland'},
 {'TeamName': 'Barnsley'},
 {'TeamName': 'Charlton'},
 {'TeamName': 'Watford'},
 {'TeamName': 'Bradford'},
 {'TeamName': 'Fulham'},
 {'TeamName': 'Birmingham'},
 {'TeamName': 'Middlesboro'},
 {'TeamName': 'West Brom'},
 {'TeamName': 'Portsmouth'},
 {'TeamName': 'Wolves'},
 {'TeamName': 'Wigan'},
 {'TeamName': 'Reading'},
 {'TeamName': 'Hull'},
 {'TeamName': 'Stoke'},
 {'TeamName': 'Burnley'},
 {'TeamName': 'Blackpool'},
 {'TeamName': 'Swansea'},
 {'TeamName': 'Cardiff'},
 {'TeamName': 'Bournemouth'}]

### Inserting a list of dicts into database

In [41]:
name_collection = get_mongo_collection(database_name="name_database", collection_name="name_collection")

In [42]:
name_collection.insert_many(name_dicts)

In [43]:
name_collection.find({})

In [44]:
def mongo_display_collection_contents(mycollection):
    query = mycollection.find({})
    for item in query:
        print(item)

In [45]:
mongo_display_collection_contents(name_collection)

{'_id': ObjectId('5cdd829bf7a1b616ca92f1a3'), 'TeamName': 'Bayern Munich'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1a4'), 'TeamName': 'Dortmund'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1a5'), 'TeamName': 'Leverkusen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1a6'), 'TeamName': 'RB Leipzig'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1a7'), 'TeamName': 'Schalke 04'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1a8'), 'TeamName': "M'gladbach"}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1a9'), 'TeamName': 'Wolfsburg'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1aa'), 'TeamName': 'FC Koln'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1ab'), 'TeamName': 'Hoffenheim'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1ac'), 'TeamName': 'Hertha'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1ad'), 'TeamName': 'Mainz'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1ae'), 'TeamName': 'Hamburg'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1af'), 'TeamName': 'Werder Bremen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1b0'), 'TeamName': 'Ein Frankfurt'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1b1'), 'TeamName': 'Augsburg'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1b2'), 'TeamName': 'Freiburg'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1b3'), 'TeamName': 'Stuttgart'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1b4'), 'TeamName': 'Hannover'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1b5'), 'TeamName': 'Ingolstadt'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1b6'), 'TeamName': 'Darmstadt'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1b7'), 'TeamName': 'Paderborn'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1b8'), 'TeamName': 'Nurnberg'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1b9'), 'TeamName': 'Braunschweig'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1ba'), 'TeamName': 'Greuther Furth'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1bb'), 'TeamName': 'Fortuna Dusseldorf'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1bc'), 'TeamName': 'Kaiserslautern'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1bd'), 'TeamName': 'St Pauli'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1be'), 'TeamName': 'Bochum'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1bf'), 'TeamName': 'Karlsruhe'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1c0'), 'TeamName': 'Bielefeld'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1c1'), 'TeamName': 'Cottbus'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1c2'), 'TeamName': 'Duisburg'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1c3'), 'TeamName': 'Hansa Rostock'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1c4'), 'TeamName': 'Aachen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1c5'), 'TeamName': 'Union Berlin'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1c6'), 'TeamName': 'Heidenheim'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1c7'), 'TeamName': 'Dresden'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1c8'), 'TeamName': 'Sandhausen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1c9'), 'TeamName': 'Erzgebirge Aue'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1ca'), 'TeamName': 'Kiel'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1cb'), 'TeamName': 'Regensburg'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1cc'), 'TeamName': 'Munich 1860'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1cd'), 'TeamName': 'Wurzburger Kickers'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1ce'), 'TeamName': 'Frankfurt FSV'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1cf'), 'TeamName': 'Aalen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1d0'), 'TeamName': 'Oberhausen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1d1'), 'TeamName': 'Osnabruck'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1d2'), 'TeamName': 'Koblenz'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1d3'), 'TeamName': 'Ahlen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1d4'), 'TeamName': 'Wehen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1d5'), 'TeamName': 'CZ Jena'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1d6'), 'TeamName': 'Offenbach'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1d7'), 'TeamName': 'Essen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1d8'), 'TeamName': 'Burghausen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1d9'), 'TeamName': 'Unterhaching'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1da'), 'TeamName': 'Saarbrucken'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1db'), 'TeamName': 'Siegen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1dc'), 'TeamName': 'Babelsberg'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1dd'), 'TeamName': 'Chemnitz'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1de'), 'TeamName': 'Ein Trier'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1df'), 'TeamName': 'Erfurt'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1e0'), 'TeamName': 'F Koln'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1e1'), 'TeamName': 'Gutersloh'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1e2'), 'TeamName': 'Homburg'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1e3'), 'TeamName': 'Leipzig'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1e4'), 'TeamName': 'Lubeck'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1e5'), 'TeamName': 'Mannheim'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1e6'), 'TeamName': 'Meppen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1e7'), 'TeamName': 'Oldenburg'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1e8'), 'TeamName': 'Reutlingen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1e9'), 'TeamName': 'Schweinfurt'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1ea'), 'TeamName': 'Stuttgarter K'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1eb'), 'TeamName': 'TB Berlin'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1ec'), 'TeamName': 'Uerdingen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1ed'), 'TeamName': 'Ulm'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1ee'), 'TeamName': 'Wattenscheid'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1ef'), 'TeamName': 'Wuppertaler'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1f0'), 'TeamName': 'Zwickau'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1f1'), 'TeamName': 'RW Essen'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1f2'), 'TeamName': "M'Gladbach"}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1f3'), 'TeamName': 'Arsenal'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1f4'), 'TeamName': 'Aston Villa'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1f5'), 'TeamName': 'Chelsea'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1f6'), 'TeamName': 'Liverpool'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1f7'), 'TeamName': 'Man City'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1f8'), 'TeamName': 'Newcastle'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1f9'), 'TeamName': 'Oldham'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1fa'), 'TeamName': 'Sheffield United'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1fb'), 'TeamName': 'Southampton'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1fc'), 'TeamName': 'West Ham'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1fd'), 'TeamName': 'Norwich'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1fe'), 'TeamName': 'Tottenham'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f1ff'), 'TeamName': 'Everton'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f200'), 'TeamName': 'Ipswich'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f201'), 'TeamName': 'Leeds'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f202'), 'TeamName': 'Wimbledon'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f203'), 'TeamName': 'Blackburn'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f204'), 'TeamName': 'Coventry'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f205'), 'TeamName': 'Man United'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f206'), 'TeamName': 'QPR'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f207'), 'TeamName': 'Sheffield Weds'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f208'), 'TeamName': 'Swindon'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f209'), 'TeamName': 'Crystal Palace'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f20a'), 'TeamName': 'Leicester'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f20b'), 'TeamName': "Nott'm Forest"}
{'_id': ObjectId('5cdd829bf7a1b616ca92f20c'), 'TeamName': 'Bolton'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f20d'), 'TeamName': 'Middlesbrough'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f20e'), 'TeamName': 'Derby'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f20f'), 'TeamName': 'Sunderland'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f210'), 'TeamName': 'Barnsley'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f211'), 'TeamName': 'Charlton'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f212'), 'TeamName': 'Watford'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f213'), 'TeamName': 'Bradford'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f214'), 'TeamName': 'Fulham'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f215'), 'TeamName': 'Birmingham'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f216'), 'TeamName': 'Middlesboro'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f217'), 'TeamName': 'West Brom'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f218'), 'TeamName': 'Portsmouth'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f219'), 'TeamName': 'Wolves'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f21a'), 'TeamName': 'Wigan'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f21b'), 'TeamName': 'Reading'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f21c'), 'TeamName': 'Hull'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f21d'), 'TeamName': 'Stoke'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f21e'), 'TeamName': 'Burnley'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f21f'), 'TeamName': 'Blackpool'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f220'), 'TeamName': 'Swansea'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f221'), 'TeamName': 'Cardiff'}
{'_id': ObjectId('5cdd829bf7a1b616ca92f222'), 'TeamName': 'Bournemouth'}

### Start working on creating the DataFrame with all of the relevant information

### Table: Matches

Match_ID (int): unique ID per match
Div (str): identifies the division the match was played in (D1 = Bundesliga, D2 = Bundesliga 2, E0 = English Premier League)

Season (int): Season the match took place in (usually covering the period of August till May of the following year)

Date (str): Date of the match

HomeTeam (str): Name of the home team

AwayTeam (str): Name of the away team

FTHG (int) (Full Time Home Goals): Number of goals scored by the home team

FTAG (int) (Full Time Away Goals): Number of goals scored by the away team

FTR (str) (Full Time Result): 3-way result of the match (H = Home Win, D = Draw, A = Away Win)

### Table: Teams

Season (str): Football season for which the data is valid

TeamName (str): Name of the team the data concerns

KaderHome (str): Number of Players in the squad

AvgAgeHome (str): Average age of players

ForeignPlayersHome (str): Number of foreign players (non-German, non-English respectively) playing for the team

OverallMarketValueHome (str): Overall market value of the team pre-season in EUR (based on data from transfermarkt.de)

AvgMarketValueHome (str): Average market value (per player) of the team pre-season in EUR (based on data from transfermarkt.de)

StadiumCapacity (str): Maximum stadium capacity of the team's home stadium

### Table: Unique Teams

TeamName (str): Name of a team

Unique_Team_ID (int): Unique identifier for each team

### Table: Teams_in_Matches

Match_ID (int): Unique match ID

Unique_Team_ID (int): Unique team ID (This table is used to easily retrieve each match a given team has played in)

![tables](tables.png)

<img src="tables2.png" alt="drawing" width="40%"/>

In [32]:
mongo_entry = {
    'name': '', # str, The name of the team
    'goals_scored': 0, # int, The total number of goals scored by the team during the 2011 season
    'total_wins': 0, # int, The total number of wins the team earned during the 2011 season
    'total_losses': '', # int, The total number of wins the team earned during the 2011 season
    'raining_win_percentage': 0.0 # float, The team's win percentage on days where it was raining during games in the 2011 season.
}

In [48]:
matches_df = sql_query_to_df(c, """SELECT * FROM Matches
""")
matches_df.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A

In [49]:
matches_df.describe()

           Match_ID        Season          FTHG          FTAG
count  24625.000000  24625.000000  24625.000000  24625.000000
mean   27335.103228   2004.698761      1.517036      1.097503
std    16631.846062      7.166931      1.359471      1.163510
min        1.000000   1993.000000     -1.000000     -1.000000
25%     6157.000000   1998.000000      1.000000      0.000000
50%    34460.000000   2005.000000      1.000000      1.000000
75%    40618.000000   2011.000000      2.000000      2.000000
max    46774.000000   2017.000000      9.000000      9.000000

Some of the matches have "-1" goals. This doesn't seem to be the case for the matches in 2011, which are the matches that we care about

In [57]:
def get_matches_for_year(cursor, year):
    matches_df = sql_query_to_df(cursor, """SELECT * FROM Matches
""")
    matches_df_year = matches_df[matches_df["Date"].str.contains(str(year))]
    return matches_df_year

In [58]:
matches_df_2011 = get_matches_for_year(c, 2011)
matches_df_2011.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
480,481,D1,2010,2011-01-15,Wolfsburg,Bayern Munich,1,1,D
482,483,D1,2010,2011-04-23,Ein Frankfurt,Bayern Munich,1,1,D
484,485,D1,2010,2011-03-05,Hannover,Bayern Munich,3,1,H
488,489,D1,2010,2011-01-29,Werder Bremen,Bayern Munich,1,3,A
489,490,D1,2010,2011-02-05,FC Koln,Bayern Munich,3,2,H

In [59]:
matches_df_2011.describe()

           Match_ID       Season         FTHG         FTAG
count   1008.000000  1008.000000  1008.000000  1008.000000
mean   17331.154762  2010.506944     1.613095     1.231151
std    21007.383568     0.500200     1.318687     1.174515
min      481.000000  2010.000000     0.000000     0.000000
25%      982.750000  2010.000000     1.000000     0.000000
50%     1470.500000  2011.000000     1.000000     1.000000
75%    44429.250000  2011.000000     2.000000     2.000000
max    44681.000000  2011.000000     8.000000     8.000000

In [32]:
mongo_entry = {
    'name': '', # str, The name of the team
    'goals_scored': 0, # int, The total number of goals scored by the team during the 2011 season
    'total_wins': 0, # int, The total number of wins the team earned during the 2011 season
    'total_losses': 0, # int, The total number of wins the team earned during the 2011 season
    'raining_win_percentage': 0.0 # float, The team's win percentage on days where it was raining during games in the 2011 season.
}

In [70]:
# goals_scored = goals_scored_as_home_team + goals_scored_as_away_team
# total_wins = home wins where the team was the home team + away wins where the team was the away team
# total_losses = home wins where the team was the away team + away wins where the team was the home team
# raining_win_percentage: take rows where Rained == True and compute (wins)/(total games played)

In [71]:
matches_df_2011.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Rained
480,481,D1,2010,2011-01-15,Wolfsburg,Bayern Munich,1,1,D,True
482,483,D1,2010,2011-04-23,Ein Frankfurt,Bayern Munich,1,1,D,False
484,485,D1,2010,2011-03-05,Hannover,Bayern Munich,3,1,H,False
488,489,D1,2010,2011-01-29,Werder Bremen,Bayern Munich,1,3,A,False
489,490,D1,2010,2011-02-05,FC Koln,Bayern Munich,3,2,H,True

In [72]:
len(matches_df_2011)

1008

In [73]:
all_teams = list(set(list(matches_df_2011["HomeTeam"])+list(matches_df_2011["AwayTeam"])))

In [108]:
summary_list = []
for team in all_teams:
    home_goals = matches_df_2011[matches_df_2011["HomeTeam"] == team]["FTHG"].sum()
    away_goals = matches_df_2011[matches_df_2011["AwayTeam"] == team]["FTAG"].sum()
    goals_scored = home_goals + away_goals
    home_wins = len(matches_df_2011[(matches_df_2011["HomeTeam"] == team) & (matches_df_2011["FTR"] == "H")])
    away_wins = len(matches_df_2011[(matches_df_2011["AwayTeam"] == team) & (matches_df_2011["FTR"] == "A")])
    total_wins = home_wins + away_wins
    home_losses = len(matches_df_2011[(matches_df_2011["HomeTeam"] == team) & (matches_df_2011["FTR"] == "A")])
    away_losses = len(matches_df_2011[(matches_df_2011["AwayTeam"] == team) & (matches_df_2011["FTR"] == "H")])
    total_losses = home_wins + away_wins
    raining_df = matches_df_2011[matches_df_2011["Rained"]]
    raining_home_wins = len(raining_df[(raining_df["HomeTeam"] == team) & (raining_df["FTR"] == "H")])
    raining_away_wins = len(raining_df[(raining_df["AwayTeam"] == team) & (raining_df["FTR"] == "A")])
    raining_wins = raining_home_wins + raining_away_wins
    raining_games = len(raining_df[(raining_df["HomeTeam"] == team) | (raining_df["AwayTeam"] == team)])
    raining_win_percentage = float(raining_wins)/float(raining_games)
    summary_list.append({'name': team, 'goals_scored': str(goals_scored), 'total_wins': str(total_wins), 
                          'total_losses': str(total_losses), 'raining_win_percentage': str(raining_win_percentage)})

In [113]:
def compute_summary_list_of_dicts(matches_df):
    summary_list = []
    for team in all_teams:
        home_goals = matches_df[matches_df["HomeTeam"] == team]["FTHG"].sum()
        away_goals = matches_df[matches_df["AwayTeam"] == team]["FTAG"].sum()
        goals_scored = home_goals + away_goals
        home_wins = len(matches_df[(matches_df["HomeTeam"] == team) & (matches_df["FTR"] == "H")])
        away_wins = len(matches_df[(matches_df["AwayTeam"] == team) & (matches_df["FTR"] == "A")])
        total_wins = home_wins + away_wins
        home_losses = len(matches_df[(matches_df["HomeTeam"] == team) & (matches_df["FTR"] == "A")])
        away_losses = len(matches_df[(matches_df["AwayTeam"] == team) & (matches_df["FTR"] == "H")])
        total_losses = home_wins + away_wins
        raining_df = matches_df[matches_df["Rained"]]
        raining_home_wins = len(raining_df[(raining_df["HomeTeam"] == team) & (raining_df["FTR"] == "H")])
        raining_away_wins = len(raining_df[(raining_df["AwayTeam"] == team) & (raining_df["FTR"] == "A")])
        raining_wins = raining_home_wins + raining_away_wins
        raining_games = len(raining_df[(raining_df["HomeTeam"] == team) | (raining_df["AwayTeam"] == team)])
        raining_win_percentage = float(raining_wins)/float(raining_games)
        summary_list.append({'name': team, 'goals_scored': str(goals_scored), 'total_wins': str(total_wins), 
                              'total_losses': str(total_losses), 'raining_win_percentage': str(raining_win_percentage)})
    return summary_list

### Sending summary list to MongoDB

In [109]:
summary_collection = get_mongo_collection(database_name="summary_database", collection_name="summary_collection")

In [110]:
summary_collection.insert_many(summary_list)

In [111]:
mongo_display_collection_contents(summary_collection)

{'_id': ObjectId('5cdd958df7a1b616ca92f264'), 'name': 'Chelsea', 'goals_scored': '73', 'total_wins': '21', 'total_losses': '21', 'raining_win_percentage': '0.5'}
{'_id': ObjectId('5cdd958df7a1b616ca92f265'), 'name': 'Duisburg', 'goals_scored': '49', 'total_wins': '11', 'total_losses': '11', 'raining_win_percentage': '0.3888888888888889'}
{'_id': ObjectId('5cdd958df7a1b616ca92f266'), 'name': 'Norwich', 'goals_scored': '28', 'total_wins': '5', 'total_losses': '5', 'raining_win_percentage': '0.2857142857142857'}
{'_id': ObjectId('5cdd958df7a1b616ca92f267'), 'name': 'Augsburg', 'goals_scored': '39', 'total_wins': '12', 'total_losses': '12', 'raining_win_percentage': '0.3333333333333333'}
{'_id': ObjectId('5cdd958df7a1b616ca92f268'), 'name': 'Ein Frankfurt', 'goals_scored': '48', 'total_wins': '12', 'total_losses': '12', 'raining_win_percentage': '0.2727272727272727'}
{'_id': ObjectId('5cdd958df7a1b616ca92f269'), 'name': 'Frankfurt FSV', 'goals_scored': '35', 'total_wins': '4', 'total_losses': '4', 'raining_win_percentage': '0.058823529411764705'}
{'_id': ObjectId('5cdd958df7a1b616ca92f26a'), 'name': 'Hamburg', 'goals_scored': '40', 'total_wins': '9', 'total_losses': '9', 'raining_win_percentage': '0.18181818181818182'}
{'_id': ObjectId('5cdd958df7a1b616ca92f26b'), 'name': 'Paderborn', 'goals_scored': '45', 'total_wins': '15', 'total_losses': '15', 'raining_win_percentage': '0.6428571428571429'}
{'_id': ObjectId('5cdd958df7a1b616ca92f26c'), 'name': 'Bolton', 'goals_scored': '43', 'total_wins': '9', 'total_losses': '9', 'raining_win_percentage': '0.06666666666666667'}
{'_id': ObjectId('5cdd958df7a1b616ca92f26d'), 'name': 'Man City', 'goals_scored': '81', 'total_wins': '24', 'total_losses': '24', 'raining_win_percentage': '0.8'}
{'_id': ObjectId('5cdd958df7a1b616ca92f26e'), 'name': 'Werder Bremen', 'goals_scored': '54', 'total_wins': '14', 'total_losses': '14', 'raining_win_percentage': '0.5'}
{'_id': ObjectId('5cdd958df7a1b616ca92f26f'), 'name': 'Everton', 'goals_scored': '48', 'total_wins': '15', 'total_losses': '15', 'raining_win_percentage': '0.42857142857142855'}
{'_id': ObjectId('5cdd958df7a1b616ca92f270'), 'name': 'Aachen', 'goals_scored': '50', 'total_wins': '9', 'total_losses': '9', 'raining_win_percentage': '0.21428571428571427'}
{'_id': ObjectId('5cdd958df7a1b616ca92f271'), 'name': 'Schalke 04', 'goals_scored': '51', 'total_wins': '16', 'total_losses': '16', 'raining_win_percentage': '0.3333333333333333'}
{'_id': ObjectId('5cdd958df7a1b616ca92f272'), 'name': 'Leverkusen', 'goals_scored': '51', 'total_wins': '18', 'total_losses': '18', 'raining_win_percentage': '0.35714285714285715'}
{'_id': ObjectId('5cdd958df7a1b616ca92f273'), 'name': 'Wolves', 'goals_scored': '47', 'total_wins': '10', 'total_losses': '10', 'raining_win_percentage': '0.23076923076923078'}
{'_id': ObjectId('5cdd958df7a1b616ca92f274'), 'name': 'Erzgebirge Aue', 'goals_scored': '37', 'total_wins': '11', 'total_losses': '11', 'raining_win_percentage': '0.08333333333333333'}
{'_id': ObjectId('5cdd958df7a1b616ca92f275'), 'name': 'Fulham', 'goals_scored': '50', 'total_wins': '12', 'total_losses': '12', 'raining_win_percentage': '0.1875'}
{'_id': ObjectId('5cdd958df7a1b616ca92f276'), 'name': 'Hertha', 'goals_scored': '68', 'total_wins': '17', 'total_losses': '17', 'raining_win_percentage': '0.3076923076923077'}
{'_id': ObjectId('5cdd958df7a1b616ca92f277'), 'name': 'Fortuna Dusseldorf', 'goals_scored': '78', 'total_wins': '21', 'total_losses': '21', 'raining_win_percentage': '0.46153846153846156'}
{'_id': ObjectId('5cdd958df7a1b616ca92f278'), 'name': 'Man United', 'goals_scored': '88', 'total_wins': '27', 'total_losses': '27', 'raining_win_percentage': '0.7058823529411765'}
{'_id': ObjectId('5cdd958df7a1b616ca92f279'), 'name': 'Karlsruhe', 'goals_scored': '43', 'total_wins': '7', 'total_losses': '7', 'raining_win_percentage': '0.16666666666666666'}
{'_id': ObjectId('5cdd958df7a1b616ca92f27a'), 'name': 'Greuther Furth', 'goals_scored': '63', 'total_wins': '20', 'total_losses': '20', 'raining_win_percentage': '0.5333333333333333'}
{'_id': ObjectId('5cdd958df7a1b616ca92f27b'), 'name': 'Stuttgart', 'goals_scored': '51', 'total_wins': '15', 'total_losses': '15', 'raining_win_percentage': '0.5'}
{'_id': ObjectId('5cdd958df7a1b616ca92f27c'), 'name': 'Bielefeld', 'goals_scored': '16', 'total_wins': '2', 'total_losses': '2', 'raining_win_percentage': '0.0'}
{'_id': ObjectId('5cdd958df7a1b616ca92f27d'), 'name': 'Dresden', 'goals_scored': '33', 'total_wins': '6', 'total_losses': '6', 'raining_win_percentage': '0.3333333333333333'}
{'_id': ObjectId('5cdd958df7a1b616ca92f27e'), 'name': 'Wigan', 'goals_scored': '40', 'total_wins': '8', 'total_losses': '8', 'raining_win_percentage': '0.42857142857142855'}
{'_id': ObjectId('5cdd958df7a1b616ca92f27f'), 'name': 'Aston Villa', 'goals_scored': '50', 'total_wins': '12', 'total_losses': '12', 'raining_win_percentage': '0.38461538461538464'}
{'_id': ObjectId('5cdd958df7a1b616ca92f280'), 'name': 'Kaiserslautern', 'goals_scored': '34', 'total_wins': '10', 'total_losses': '10', 'raining_win_percentage': '0.2'}
{'_id': ObjectId('5cdd958df7a1b616ca92f281'), 'name': 'Oberhausen', 'goals_scored': '16', 'total_wins': '2', 'total_losses': '2', 'raining_win_percentage': '0.25'}
{'_id': ObjectId('5cdd958df7a1b616ca92f282'), 'name': 'Birmingham', 'goals_scored': '19', 'total_wins': '5', 'total_losses': '5', 'raining_win_percentage': '0.2'}
{'_id': ObjectId('5cdd958df7a1b616ca92f283'), 'name': 'Osnabruck', 'goals_scored': '15', 'total_wins': '3', 'total_losses': '3', 'raining_win_percentage': '0.16666666666666666'}
{'_id': ObjectId('5cdd958df7a1b616ca92f284'), 'name': 'QPR', 'goals_scored': '18', 'total_wins': '4', 'total_losses': '4', 'raining_win_percentage': '0.1'}
{'_id': ObjectId('5cdd958df7a1b616ca92f285'), 'name': 'Newcastle', 'goals_scored': '54', 'total_wins': '13', 'total_losses': '13', 'raining_win_percentage': '0.14285714285714285'}
{'_id': ObjectId('5cdd958df7a1b616ca92f286'), 'name': 'Swansea', 'goals_scored': '18', 'total_wins': '4', 'total_losses': '4', 'raining_win_percentage': '0.125'}
{'_id': ObjectId('5cdd958df7a1b616ca92f287'), 'name': 'Mainz', 'goals_scored': '44', 'total_wins': '11', 'total_losses': '11', 'raining_win_percentage': '0.2222222222222222'}
{'_id': ObjectId('5cdd958df7a1b616ca92f288'), 'name': 'FC Koln', 'goals_scored': '56', 'total_wins': '15', 'total_losses': '15', 'raining_win_percentage': '0.42857142857142855'}
{'_id': ObjectId('5cdd958df7a1b616ca92f289'), 'name': 'Cottbus', 'goals_scored': '50', 'total_wins': '13', 'total_losses': '13', 'raining_win_percentage': '0.23076923076923078'}
{'_id': ObjectId('5cdd958df7a1b616ca92f28a'), 'name': 'Blackpool', 'goals_scored': '29', 'total_wins': '3', 'total_losses': '3', 'raining_win_percentage': '0.2857142857142857'}
{'_id': ObjectId('5cdd958df7a1b616ca92f28b'), 'name': 'Dortmund', 'goals_scored': '63', 'total_wins': '19', 'total_losses': '19', 'raining_win_percentage': '0.5454545454545454'}
{'_id': ObjectId('5cdd958df7a1b616ca92f28c'), 'name': 'Stoke', 'goals_scored': '43', 'total_wins': '13', 'total_losses': '13', 'raining_win_percentage': '0.4666666666666667'}
{'_id': ObjectId('5cdd958df7a1b616ca92f28d'), 'name': 'Tottenham', 'goals_scored': '61', 'total_wins': '19', 'total_losses': '19', 'raining_win_percentage': '0.8571428571428571'}
{'_id': ObjectId('5cdd958df7a1b616ca92f28e'), 'name': 'Bayern Munich', 'goals_scored': '93', 'total_wins': '23', 'total_losses': '23', 'raining_win_percentage': '0.6363636363636364'}
{'_id': ObjectId('5cdd958df7a1b616ca92f28f'), 'name': 'St Pauli', 'goals_scored': '57', 'total_wins': '15', 'total_losses': '15', 'raining_win_percentage': '0.45454545454545453'}
{'_id': ObjectId('5cdd958df7a1b616ca92f290'), 'name': 'Hansa Rostock', 'goals_scored': '13', 'total_wins': '1', 'total_losses': '1', 'raining_win_percentage': '0.0'}
{'_id': ObjectId('5cdd958df7a1b616ca92f291'), 'name': 'Hoffenheim', 'goals_scored': '37', 'total_wins': '11', 'total_losses': '11', 'raining_win_percentage': '0.2727272727272727'}
{'_id': ObjectId('5cdd958df7a1b616ca92f292'), 'name': "M'gladbach", 'goals_scored': '47', 'total_wins': '18', 'total_losses': '18', 'raining_win_percentage': '0.5833333333333334'}
{'_id': ObjectId('5cdd958df7a1b616ca92f293'), 'name': 'Freiburg', 'goals_scored': '37', 'total_wins': '7', 'total_losses': '7', 'raining_win_percentage': '0.16666666666666666'}
{'_id': ObjectId('5cdd958df7a1b616ca92f294'), 'name': 'Ingolstadt', 'goals_scored': '42', 'total_wins': '9', 'total_losses': '9', 'raining_win_percentage': '0.1875'}
{'_id': ObjectId('5cdd958df7a1b616ca92f295'), 'name': 'Sunderland', 'goals_scored': '46', 'total_wins': '10', 'total_losses': '10', 'raining_win_percentage': '0.2857142857142857'}
{'_id': ObjectId('5cdd958df7a1b616ca92f296'), 'name': 'West Ham', 'goals_scored': '23', 'total_wins': '4', 'total_losses': '4', 'raining_win_percentage': '0.2'}
{'_id': ObjectId('5cdd958df7a1b616ca92f297'), 'name': 'Munich 1860', 'goals_scored': '68', 'total_wins': '17', 'total_losses': '17', 'raining_win_percentage': '0.6470588235294118'}
{'_id': ObjectId('5cdd958df7a1b616ca92f298'), 'name': 'Hannover', 'goals_scored': '44', 'total_wins': '14', 'total_losses': '14', 'raining_win_percentage': '0.46153846153846156'}
{'_id': ObjectId('5cdd958df7a1b616ca92f299'), 'name': 'Bochum', 'goals_scored': '53', 'total_wins': '18', 'total_losses': '18', 'raining_win_percentage': '0.5625'}
{'_id': ObjectId('5cdd958df7a1b616ca92f29a'), 'name': 'Union Berlin', 'goals_scored': '51', 'total_wins': '15', 'total_losses': '15', 'raining_win_percentage': '0.5'}
{'_id': ObjectId('5cdd958df7a1b616ca92f29b'), 'name': 'Braunschweig', 'goals_scored': '25', 'total_wins': '8', 'total_losses': '8', 'raining_win_percentage': '0.375'}
{'_id': ObjectId('5cdd958df7a1b616ca92f29c'), 'name': 'Liverpool', 'goals_scored': '62', 'total_wins': '20', 'total_losses': '20', 'raining_win_percentage': '0.4375'}
{'_id': ObjectId('5cdd958df7a1b616ca92f29d'), 'name': 'Nurnberg', 'goals_scored': '42', 'total_wins': '12', 'total_losses': '12', 'raining_win_percentage': '0.6'}
{'_id': ObjectId('5cdd958df7a1b616ca92f29e'), 'name': 'Blackburn', 'goals_scored': '48', 'total_wins': '7', 'total_losses': '7', 'raining_win_percentage': '0.15384615384615385'}
{'_id': ObjectId('5cdd958df7a1b616ca92f29f'), 'name': 'West Brom', 'goals_scored': '50', 'total_wins': '12', 'total_losses': '12', 'raining_win_percentage': '0.4'}
{'_id': ObjectId('5cdd958df7a1b616ca92f2a0'), 'name': 'Wolfsburg', 'goals_scored': '42', 'total_wins': '11', 'total_losses': '11', 'raining_win_percentage': '0.38461538461538464'}
{'_id': ObjectId('5cdd958df7a1b616ca92f2a1'), 'name': 'Arsenal', 'goals_scored': '68', 'total_wins': '19', 'total_losses': '19', 'raining_win_percentage': '0.6428571428571429'}

### How to add raining to matches DataFrame
1. Get all unique dates from the matches 2011 DataFrame
1. Make call to DarkSky API for each date
1. Store response in dictionary
1. Pickle the dictionary to avoid having to make API calls again
1. Add new column to DataFrame using a map and the dictionary

In [61]:
unique_dates = matches_df_2011["Date"].unique()

In [62]:
rain_dict = {}
for i, date in enumerate(unique_dates):
    print(float(i)/len(unique_dates), date)
    rain_dict[date] = did_it_rain_in_berlin(date)

0.0 2011-01-15
0.005847953216374269 2011-04-23
0.011695906432748537 2011-03-05
0.017543859649122806 2011-01-29
0.023391812865497075 2011-02-05
0.029239766081871343 2011-03-19
0.03508771929824561 2011-05-07
0.04093567251461988 2011-02-19
0.04678362573099415 2011-04-09
0.05263157894736842 2011-02-26
0.05847953216374269 2011-01-14
0.06432748538011696 2011-03-12
0.07017543859649122 2011-02-12
0.07602339181286549 2011-04-30
0.08187134502923976 2011-02-11
0.08771929824561403 2011-03-11
0.0935672514619883 2011-02-25
0.09941520467836257 2011-01-21
0.10526315789473684 2011-04-16
0.1111111111111111 2011-04-02
0.11695906432748537 2011-05-15
0.12280701754385964 2011-02-06
0.1286549707602339 2011-02-18
0.13450292397660818 2011-04-03
0.14035087719298245 2011-05-14
0.14619883040935672 2011-03-04
0.15204678362573099 2011-04-24
0.15789473684210525 2011-01-16
0.16374269005847952 2011-04-10
0.1695906432748538 2011-01-30
0.17543859649122806 2011-04-17
0.18128654970760233 2011-01-22
0.1871345029239766 2011-03-18
0.19298245614035087 2011-05-08
0.19883040935672514 2011-02-20
0.2046783625730994 2011-02-27
0.21052631578947367 2011-01-23
0.21637426900584794 2011-03-13
0.2222222222222222 2011-04-01
0.22807017543859648 2011-02-04
0.23391812865497075 2011-03-20
0.23976608187134502 2011-03-06
0.24561403508771928 2011-04-08
0.25146198830409355 2011-04-04
0.2573099415204678 2011-04-15
0.2631578947368421 2011-02-13
0.26900584795321636 2011-04-21
0.27485380116959063 2011-01-31
0.2807017543859649 2011-01-28
0.28654970760233917 2011-01-17
0.29239766081871343 2011-03-14
0.2982456140350877 2011-04-11
0.30409356725146197 2011-04-25
0.30994152046783624 2011-04-29
0.3157894736842105 2011-02-14
0.3216374269005848 2011-02-16
0.32748538011695905 2011-02-21
0.3333333333333333 2011-03-21
0.3391812865497076 2011-02-28
0.34502923976608185 2011-01-24
0.3508771929824561 2011-01-18
0.3567251461988304 2011-04-18
0.36257309941520466 2011-05-02
0.3684210526315789 2011-02-01
0.3742690058479532 2011-02-07
0.38011695906432746 2011-03-07
0.38596491228070173 2011-12-11
0.391812865497076 2011-08-13
0.39766081871345027 2011-11-27
0.40350877192982454 2011-09-18
0.4093567251461988 2011-10-23
0.4152046783625731 2011-10-01
0.42105263157894735 2011-08-27
0.4269005847953216 2011-11-06
0.4327485380116959 2011-12-17
0.43859649122807015 2011-10-29
0.4444444444444444 2011-12-03
0.4502923976608187 2011-11-19
0.45614035087719296 2011-10-14
0.4619883040935672 2011-09-24
0.4678362573099415 2011-12-18
0.47368421052631576 2011-08-06
0.47953216374269003 2011-11-04
0.4853801169590643 2011-09-16
0.49122807017543857 2011-07-15
0.49707602339181284 2011-10-02
0.5029239766081871 2011-10-22
0.5087719298245614 2011-08-26
0.5146198830409356 2011-08-07
0.52046783625731 2011-07-17
0.5263157894736842 2011-08-22
0.5321637426900585 2011-09-09
0.5380116959064327 2011-09-25
0.543859649122807 2011-11-25
0.5497076023391813 2011-11-07
0.5555555555555556 2011-09-10
0.5614035087719298 2011-08-21
0.5672514619883041 2011-09-26
0.5730994152046783 2011-10-30
0.5789473684210527 2011-12-19
0.5847953216374269 2011-11-26
0.5906432748538012 2011-12-16
0.5964912280701754 2011-11-05
0.6023391812865497 2011-09-17
0.6081871345029239 2011-08-20
0.6140350877192983 2011-12-10
0.6198830409356725 2011-10-16
0.6257309941520468 2011-08-05
0.631578947368421 2011-09-23
0.6374269005847953 2011-10-15
0.6432748538011696 2011-11-18
0.6491228070175439 2011-12-09
0.6549707602339181 2011-07-23
0.6608187134502924 2011-10-28
0.6666666666666666 2011-12-04
0.672514619883041 2011-09-11
0.6783625730994152 2011-09-30
0.6842105263157895 2011-10-21
0.6900584795321637 2011-08-14
0.695906432748538 2011-09-12
0.7017543859649122 2011-07-18
0.7076023391812866 2011-08-08
0.7134502923976608 2011-07-24
0.7192982456140351 2011-12-13
0.7251461988304093 2011-08-28
0.7309941520467836 2011-08-19
0.7368421052631579 2011-08-12
0.7426900584795322 2011-12-02
0.7485380116959064 2011-09-19
0.7543859649122807 2011-07-25
0.7602339181286549 2011-11-21
0.7660818713450293 2011-07-22
0.7719298245614035 2011-08-29
0.7777777777777778 2011-11-28
0.783625730994152 2011-12-12
0.7894736842105263 2011-11-20
0.7953216374269005 2011-07-16
0.8011695906432749 2011-10-31
0.8070175438596491 2011-10-17
0.8128654970760234 2011-12-05
0.8187134502923976 2011-10-03
0.8245614035087719 2011-08-15
0.8304093567251462 2011-01-01
0.8362573099415205 2011-01-02
0.8421052631578947 2011-01-04
0.847953216374269 2011-01-05
0.8538011695906432 2011-01-12
0.8596491228070176 2011-01-25
0.8654970760233918 2011-01-26
0.8713450292397661 2011-02-02
0.8771929824561403 2011-02-15
0.8830409356725146 2011-02-22
0.8888888888888888 2011-02-23
0.8947368421052632 2011-03-01
0.9005847953216374 2011-03-09
0.9064327485380117 2011-04-19
0.9122807017543859 2011-04-20
0.9181286549707602 2011-04-26
0.9239766081871345 2011-04-27
0.9298245614035088 2011-05-01
0.935672514619883 2011-05-09
0.9415204678362573 2011-05-10
0.9473684210526315 2011-05-17
0.9532163742690059 2011-05-22
0.9590643274853801 2011-12-20
0.9649122807017544 2011-12-21
0.9707602339181286 2011-12-22
0.9766081871345029 2011-12-26
0.9824561403508771 2011-12-27
0.9883040935672515 2011-12-30
0.9941520467836257 2011-12-31

In [63]:
import pickle

In [65]:
pickle.dump(rain_dict, open('rain_dict_2011.pkl', 'wb'))

In [66]:
def check_matches_for_rain(matches_df, file_name=None):
    import pickle
    if file_name == None:
        file_name = 'test_rain_dict.pkl'
    unique_dates = matches_df["Date"].unique()
    rain_dict = {}
    for i, date in enumerate(unique_dates):
        print(float(i)/len(unique_dates), date)
        rain_dict[date] = did_it_rain_in_berlin(date)
    pickle.dump(rain_dict, open(file_name, 'wb'))
    return rain_dict

In [68]:
matches_df_2011["Rained"] = matches_df_2011["Date"].apply(lambda x: rain_dict[x])

In [69]:
def add_rained_to_matches_df(matches_df):
    rain_dict = check_matches_for_rain(matches_df)
    matches_df["Rained"] = matches_df["Date"].apply(lambda x: rain_dict[x])
    return matches_df

# Putting it all together
1. Connect to SQL database
1. Get DataFrame for specific year
1. Add weather information to the DataFrame
1. Compute summary
1. Open connection to MongoDB
1. Commit summary to MongoDB
1. Display contents of MongoDB

In [116]:
conn, c = connect_to_sql_database("database.sqlite")
matches_df_2011 = get_matches_for_year(c, 2011)
matches_df_2011 = add_rained_to_matches_df(matches_df_2011)
summary_list = compute_summary_list_of_dicts(matches_df_2011)
mongo_collection = get_mongo_collection(database_name="test_database_2", collection_name="test_collection_2")
mongo_collection.insert_many(summary_list)
mongo_display_collection_contents(mongo_collection)

0.0 2011-01-15
0.005847953216374269 2011-04-23
0.011695906432748537 2011-03-05
0.017543859649122806 2011-01-29
0.023391812865497075 2011-02-05
0.029239766081871343 2011-03-19
0.03508771929824561 2011-05-07
0.04093567251461988 2011-02-19
0.04678362573099415 2011-04-09
0.05263157894736842 2011-02-26
0.05847953216374269 2011-01-14
0.06432748538011696 2011-03-12
0.07017543859649122 2011-02-12
0.07602339181286549 2011-04-30
0.08187134502923976 2011-02-11
0.08771929824561403 2011-03-11
0.0935672514619883 2011-02-25
0.09941520467836257 2011-01-21
0.10526315789473684 2011-04-16
0.1111111111111111 2011-04-02
0.11695906432748537 2011-05-15
0.12280701754385964 2011-02-06
0.1286549707602339 2011-02-18
0.13450292397660818 2011-04-03
0.14035087719298245 2011-05-14
0.14619883040935672 2011-03-04
0.15204678362573099 2011-04-24
0.15789473684210525 2011-01-16
0.16374269005847952 2011-04-10
0.1695906432748538 2011-01-30
0.17543859649122806 2011-04-17
0.18128654970760233 2011-01-22
0.1871345029239766 2011-03-18
0.19298245614035087 2011-05-08
0.19883040935672514 2011-02-20
0.2046783625730994 2011-02-27
0.21052631578947367 2011-01-23
0.21637426900584794 2011-03-13
0.2222222222222222 2011-04-01
0.22807017543859648 2011-02-04
0.23391812865497075 2011-03-20
0.23976608187134502 2011-03-06
0.24561403508771928 2011-04-08
0.25146198830409355 2011-04-04
0.2573099415204678 2011-04-15
0.2631578947368421 2011-02-13
0.26900584795321636 2011-04-21
0.27485380116959063 2011-01-31
0.2807017543859649 2011-01-28
0.28654970760233917 2011-01-17
0.29239766081871343 2011-03-14
0.2982456140350877 2011-04-11
0.30409356725146197 2011-04-25
0.30994152046783624 2011-04-29
0.3157894736842105 2011-02-14
0.3216374269005848 2011-02-16
0.32748538011695905 2011-02-21
0.3333333333333333 2011-03-21
0.3391812865497076 2011-02-28
0.34502923976608185 2011-01-24
0.3508771929824561 2011-01-18
0.3567251461988304 2011-04-18
0.36257309941520466 2011-05-02
0.3684210526315789 2011-02-01
0.3742690058479532 2011-02-07
0.38011695906432746 2011-03-07
0.38596491228070173 2011-12-11
0.391812865497076 2011-08-13
0.39766081871345027 2011-11-27
0.40350877192982454 2011-09-18
0.4093567251461988 2011-10-23
0.4152046783625731 2011-10-01
0.42105263157894735 2011-08-27
0.4269005847953216 2011-11-06
0.4327485380116959 2011-12-17
0.43859649122807015 2011-10-29
0.4444444444444444 2011-12-03
0.4502923976608187 2011-11-19
0.45614035087719296 2011-10-14
0.4619883040935672 2011-09-24
0.4678362573099415 2011-12-18
0.47368421052631576 2011-08-06
0.47953216374269003 2011-11-04
0.4853801169590643 2011-09-16
0.49122807017543857 2011-07-15
0.49707602339181284 2011-10-02
0.5029239766081871 2011-10-22
0.5087719298245614 2011-08-26
0.5146198830409356 2011-08-07
0.52046783625731 2011-07-17
0.5263157894736842 2011-08-22
0.5321637426900585 2011-09-09
0.5380116959064327 2011-09-25
0.543859649122807 2011-11-25
0.5497076023391813 2011-11-07
0.5555555555555556 2011-09-10
0.5614035087719298 2011-08-21
0.5672514619883041 2011-09-26
0.5730994152046783 2011-10-30
0.5789473684210527 2011-12-19
0.5847953216374269 2011-11-26
0.5906432748538012 2011-12-16
0.5964912280701754 2011-11-05
0.6023391812865497 2011-09-17
0.6081871345029239 2011-08-20
0.6140350877192983 2011-12-10
0.6198830409356725 2011-10-16
0.6257309941520468 2011-08-05
0.631578947368421 2011-09-23
0.6374269005847953 2011-10-15
0.6432748538011696 2011-11-18
0.6491228070175439 2011-12-09
0.6549707602339181 2011-07-23
0.6608187134502924 2011-10-28
0.6666666666666666 2011-12-04
0.672514619883041 2011-09-11
0.6783625730994152 2011-09-30
0.6842105263157895 2011-10-21
0.6900584795321637 2011-08-14
0.695906432748538 2011-09-12
0.7017543859649122 2011-07-18
0.7076023391812866 2011-08-08
0.7134502923976608 2011-07-24
0.7192982456140351 2011-12-13
0.7251461988304093 2011-08-28
0.7309941520467836 2011-08-19
0.7368421052631579 2011-08-12
0.7426900584795322 2011-12-02
0.7485380116959064 2011-09-19
0.7543859649122807 2011-07-25
0.7602339181286549 2011-11-21
0.7660818713450293 2011-07-22
0.7719298245614035 2011-08-29
0.7777777777777778 2011-11-28
0.783625730994152 2011-12-12
0.7894736842105263 2011-11-20
0.7953216374269005 2011-07-16
0.8011695906432749 2011-10-31
0.8070175438596491 2011-10-17
0.8128654970760234 2011-12-05
0.8187134502923976 2011-10-03
0.8245614035087719 2011-08-15
0.8304093567251462 2011-01-01
0.8362573099415205 2011-01-02
0.8421052631578947 2011-01-04
0.847953216374269 2011-01-05
0.8538011695906432 2011-01-12
0.8596491228070176 2011-01-25
0.8654970760233918 2011-01-26
0.8713450292397661 2011-02-02
0.8771929824561403 2011-02-15
0.8830409356725146 2011-02-22
0.8888888888888888 2011-02-23
0.8947368421052632 2011-03-01
0.9005847953216374 2011-03-09
0.9064327485380117 2011-04-19
0.9122807017543859 2011-04-20
0.9181286549707602 2011-04-26
0.9239766081871345 2011-04-27
0.9298245614035088 2011-05-01
0.935672514619883 2011-05-09
0.9415204678362573 2011-05-10
0.9473684210526315 2011-05-17
0.9532163742690059 2011-05-22
0.9590643274853801 2011-12-20
0.9649122807017544 2011-12-21
0.9707602339181286 2011-12-22
0.9766081871345029 2011-12-26
0.9824561403508771 2011-12-27
0.9883040935672515 2011-12-30
0.9941520467836257 2011-12-31
{'_id': ObjectId('5cdd9921f7a1b616ca92f2e2'), 'name': 'Chelsea', 'goals_scored': '73', 'total_wins': '21', 'total_losses': '21', 'raining_win_percentage': '0.5'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2e3'), 'name': 'Duisburg', 'goals_scored': '49', 'total_wins': '11', 'total_losses': '11', 'raining_win_percentage': '0.3888888888888889'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2e4'), 'name': 'Norwich', 'goals_scored': '28', 'total_wins': '5', 'total_losses': '5', 'raining_win_percentage': '0.2857142857142857'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2e5'), 'name': 'Augsburg', 'goals_scored': '39', 'total_wins': '12', 'total_losses': '12', 'raining_win_percentage': '0.3333333333333333'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2e6'), 'name': 'Ein Frankfurt', 'goals_scored': '48', 'total_wins': '12', 'total_losses': '12', 'raining_win_percentage': '0.2727272727272727'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2e7'), 'name': 'Frankfurt FSV', 'goals_scored': '35', 'total_wins': '4', 'total_losses': '4', 'raining_win_percentage': '0.058823529411764705'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2e8'), 'name': 'Hamburg', 'goals_scored': '40', 'total_wins': '9', 'total_losses': '9', 'raining_win_percentage': '0.18181818181818182'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2e9'), 'name': 'Paderborn', 'goals_scored': '45', 'total_wins': '15', 'total_losses': '15', 'raining_win_percentage': '0.6428571428571429'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2ea'), 'name': 'Bolton', 'goals_scored': '43', 'total_wins': '9', 'total_losses': '9', 'raining_win_percentage': '0.06666666666666667'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2eb'), 'name': 'Man City', 'goals_scored': '81', 'total_wins': '24', 'total_losses': '24', 'raining_win_percentage': '0.8'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2ec'), 'name': 'Werder Bremen', 'goals_scored': '54', 'total_wins': '14', 'total_losses': '14', 'raining_win_percentage': '0.5'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2ed'), 'name': 'Everton', 'goals_scored': '48', 'total_wins': '15', 'total_losses': '15', 'raining_win_percentage': '0.42857142857142855'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2ee'), 'name': 'Aachen', 'goals_scored': '50', 'total_wins': '9', 'total_losses': '9', 'raining_win_percentage': '0.21428571428571427'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2ef'), 'name': 'Schalke 04', 'goals_scored': '51', 'total_wins': '16', 'total_losses': '16', 'raining_win_percentage': '0.3333333333333333'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2f0'), 'name': 'Leverkusen', 'goals_scored': '51', 'total_wins': '18', 'total_losses': '18', 'raining_win_percentage': '0.35714285714285715'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2f1'), 'name': 'Wolves', 'goals_scored': '47', 'total_wins': '10', 'total_losses': '10', 'raining_win_percentage': '0.23076923076923078'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2f2'), 'name': 'Erzgebirge Aue', 'goals_scored': '37', 'total_wins': '11', 'total_losses': '11', 'raining_win_percentage': '0.08333333333333333'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2f3'), 'name': 'Fulham', 'goals_scored': '50', 'total_wins': '12', 'total_losses': '12', 'raining_win_percentage': '0.1875'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2f4'), 'name': 'Hertha', 'goals_scored': '68', 'total_wins': '17', 'total_losses': '17', 'raining_win_percentage': '0.3076923076923077'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2f5'), 'name': 'Fortuna Dusseldorf', 'goals_scored': '78', 'total_wins': '21', 'total_losses': '21', 'raining_win_percentage': '0.46153846153846156'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2f6'), 'name': 'Man United', 'goals_scored': '88', 'total_wins': '27', 'total_losses': '27', 'raining_win_percentage': '0.7058823529411765'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2f7'), 'name': 'Karlsruhe', 'goals_scored': '43', 'total_wins': '7', 'total_losses': '7', 'raining_win_percentage': '0.16666666666666666'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2f8'), 'name': 'Greuther Furth', 'goals_scored': '63', 'total_wins': '20', 'total_losses': '20', 'raining_win_percentage': '0.5333333333333333'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2f9'), 'name': 'Stuttgart', 'goals_scored': '51', 'total_wins': '15', 'total_losses': '15', 'raining_win_percentage': '0.5'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2fa'), 'name': 'Bielefeld', 'goals_scored': '16', 'total_wins': '2', 'total_losses': '2', 'raining_win_percentage': '0.0'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2fb'), 'name': 'Dresden', 'goals_scored': '33', 'total_wins': '6', 'total_losses': '6', 'raining_win_percentage': '0.3333333333333333'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2fc'), 'name': 'Wigan', 'goals_scored': '40', 'total_wins': '8', 'total_losses': '8', 'raining_win_percentage': '0.42857142857142855'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2fd'), 'name': 'Aston Villa', 'goals_scored': '50', 'total_wins': '12', 'total_losses': '12', 'raining_win_percentage': '0.38461538461538464'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2fe'), 'name': 'Kaiserslautern', 'goals_scored': '34', 'total_wins': '10', 'total_losses': '10', 'raining_win_percentage': '0.2'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f2ff'), 'name': 'Oberhausen', 'goals_scored': '16', 'total_wins': '2', 'total_losses': '2', 'raining_win_percentage': '0.25'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f300'), 'name': 'Birmingham', 'goals_scored': '19', 'total_wins': '5', 'total_losses': '5', 'raining_win_percentage': '0.2'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f301'), 'name': 'Osnabruck', 'goals_scored': '15', 'total_wins': '3', 'total_losses': '3', 'raining_win_percentage': '0.16666666666666666'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f302'), 'name': 'QPR', 'goals_scored': '18', 'total_wins': '4', 'total_losses': '4', 'raining_win_percentage': '0.1'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f303'), 'name': 'Newcastle', 'goals_scored': '54', 'total_wins': '13', 'total_losses': '13', 'raining_win_percentage': '0.14285714285714285'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f304'), 'name': 'Swansea', 'goals_scored': '18', 'total_wins': '4', 'total_losses': '4', 'raining_win_percentage': '0.125'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f305'), 'name': 'Mainz', 'goals_scored': '44', 'total_wins': '11', 'total_losses': '11', 'raining_win_percentage': '0.2222222222222222'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f306'), 'name': 'FC Koln', 'goals_scored': '56', 'total_wins': '15', 'total_losses': '15', 'raining_win_percentage': '0.42857142857142855'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f307'), 'name': 'Cottbus', 'goals_scored': '50', 'total_wins': '13', 'total_losses': '13', 'raining_win_percentage': '0.23076923076923078'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f308'), 'name': 'Blackpool', 'goals_scored': '29', 'total_wins': '3', 'total_losses': '3', 'raining_win_percentage': '0.2857142857142857'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f309'), 'name': 'Dortmund', 'goals_scored': '63', 'total_wins': '19', 'total_losses': '19', 'raining_win_percentage': '0.5454545454545454'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f30a'), 'name': 'Stoke', 'goals_scored': '43', 'total_wins': '13', 'total_losses': '13', 'raining_win_percentage': '0.4666666666666667'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f30b'), 'name': 'Tottenham', 'goals_scored': '61', 'total_wins': '19', 'total_losses': '19', 'raining_win_percentage': '0.8571428571428571'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f30c'), 'name': 'Bayern Munich', 'goals_scored': '93', 'total_wins': '23', 'total_losses': '23', 'raining_win_percentage': '0.6363636363636364'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f30d'), 'name': 'St Pauli', 'goals_scored': '57', 'total_wins': '15', 'total_losses': '15', 'raining_win_percentage': '0.45454545454545453'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f30e'), 'name': 'Hansa Rostock', 'goals_scored': '13', 'total_wins': '1', 'total_losses': '1', 'raining_win_percentage': '0.0'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f30f'), 'name': 'Hoffenheim', 'goals_scored': '37', 'total_wins': '11', 'total_losses': '11', 'raining_win_percentage': '0.2727272727272727'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f310'), 'name': "M'gladbach", 'goals_scored': '47', 'total_wins': '18', 'total_losses': '18', 'raining_win_percentage': '0.5833333333333334'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f311'), 'name': 'Freiburg', 'goals_scored': '37', 'total_wins': '7', 'total_losses': '7', 'raining_win_percentage': '0.16666666666666666'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f312'), 'name': 'Ingolstadt', 'goals_scored': '42', 'total_wins': '9', 'total_losses': '9', 'raining_win_percentage': '0.1875'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f313'), 'name': 'Sunderland', 'goals_scored': '46', 'total_wins': '10', 'total_losses': '10', 'raining_win_percentage': '0.2857142857142857'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f314'), 'name': 'West Ham', 'goals_scored': '23', 'total_wins': '4', 'total_losses': '4', 'raining_win_percentage': '0.2'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f315'), 'name': 'Munich 1860', 'goals_scored': '68', 'total_wins': '17', 'total_losses': '17', 'raining_win_percentage': '0.6470588235294118'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f316'), 'name': 'Hannover', 'goals_scored': '44', 'total_wins': '14', 'total_losses': '14', 'raining_win_percentage': '0.46153846153846156'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f317'), 'name': 'Bochum', 'goals_scored': '53', 'total_wins': '18', 'total_losses': '18', 'raining_win_percentage': '0.5625'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f318'), 'name': 'Union Berlin', 'goals_scored': '51', 'total_wins': '15', 'total_losses': '15', 'raining_win_percentage': '0.5'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f319'), 'name': 'Braunschweig', 'goals_scored': '25', 'total_wins': '8', 'total_losses': '8', 'raining_win_percentage': '0.375'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f31a'), 'name': 'Liverpool', 'goals_scored': '62', 'total_wins': '20', 'total_losses': '20', 'raining_win_percentage': '0.4375'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f31b'), 'name': 'Nurnberg', 'goals_scored': '42', 'total_wins': '12', 'total_losses': '12', 'raining_win_percentage': '0.6'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f31c'), 'name': 'Blackburn', 'goals_scored': '48', 'total_wins': '7', 'total_losses': '7', 'raining_win_percentage': '0.15384615384615385'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f31d'), 'name': 'West Brom', 'goals_scored': '50', 'total_wins': '12', 'total_losses': '12', 'raining_win_percentage': '0.4'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f31e'), 'name': 'Wolfsburg', 'goals_scored': '42', 'total_wins': '11', 'total_losses': '11', 'raining_win_percentage': '0.38461538461538464'}
{'_id': ObjectId('5cdd9921f7a1b616ca92f31f'), 'name': 'Arsenal', 'goals_scored': '68', 'total_wins': '19', 'total_losses': '19', 'raining_win_percentage': '0.6428571428571429'}

# Summary

In this lab, we dug deep and used everything we've learned so far about python programming, databases, HTTP requests and API calls to ETL data from a SQL database into a MongoDB instance!